*.DS_Store
*.pyc
*.temp.rst
# The directory created by tox: http://pypi.python.org/pypi/tox
.tox/
# Directories created by setup.py.
build/
dist/
molt.egg-info/
# For extra convenience--
temp/
# TextMate project file
*.tmproj
