# The following files get included automatically, so there is no need
# to include them explicitly:
#
#   MANIFEST.in
#   setup.py
#
include .gitignore
include .gitmodules
include .travis.yml
include HISTORY.md
include README.md
include setup_long_description.rst
include test_molt.py
include TODO.md
include tox.ini
recursive-include images *.png
# You cannot use package_data, for example, to include data files in a
# source distribution when using Distribute.
recursive-include molt/demo *.json *.mustache *.py *.sh
recursive-include molt/test/data *.sh
# We include molt_setup in MANIFEST.in but not in setup()'s `packages`
# argument to include molt_setup in the source distribution but not
# in the build/install.
recursive-include molt_setup *.py *.txt
