{{> python_header }}

"""
Supports logging configuration.

"""

from __future__ import absolute_import

import logging
import sys


_log = logging.getLogger(__name__)


# TODO: make this testable.
def configure_logging(logging_level, sys_stderr=None):
    """Configure logging."""
    if sys_stderr is None:
        sys_stderr = sys.stderr

    formatter = logging.Formatter("%(name)s: [%(levelname)s] %(message)s")

    stream = sys_stderr
    handler = logging.StreamHandler(stream)
    handler.setFormatter(formatter)

    logger = logging.getLogger()  # the root logger.
    logger.setLevel(logging_level)
    logger.addHandler(handler)

    _log.debug("Debug logging enabled.")

