{{#title}}
  {{{script_name}}} ({{{project_name}}}){{/title}}

This [project](http://github.com/)...

TODO: add project summary.


Features
--------

Features of the script include--

* TODO: add features
* TODO: add features


Usage
-----

TODO: add usage notes.

For command-line help, execute this script with the -h or --help option.

    {{{script_name}}} -h

Comments and suggestions are welcome.

{{{author_name}}}


Copyright and License
---------------------

{{{copyright_and_license}}}

