{{> python_header }}

"""
Supplies the main method for the molt project.

"""

from __future__ import absolute_import

import logging
import os
import sys

from . import commandline
from .common.optionparser import UsageError
from .common.logging import configure_logging

_log = logging.getLogger("main")




class Error(Exception):
    """Base class for exceptions defined in this project."""
    pass


def do_program_body(sys_argv, usage):

    options = commandline.parse_args(sys_argv, suppress_help_exit=False, usage=usage)

    print "OUTPUT"
    _log.info("Done.")


def main(sys_argv, configure_logging=configure_logging, process_args=do_program_body):
    """
    Execute this script's main function, and return the exit status.

    Args:

      process_args: the function called within this method's try-except
        block and that accepts sys.argv as a single parameter.
        This parameter is exposed only for unit testing purposes.  It
        allows the function's exception handling logic to be tested
        more easily.

    """
    # TODO: follow all of the recommendations here:
    # http://www.artima.com/weblogs/viewpost.jsp?thread=4829

    # Configure logging before parsing options for real.
    logging_level = logging.DEBUG if commandline.is_verbose_logging_enabled(sys_argv) else logging.INFO
    configure_logging(logging_level)

    try:
        process_args(sys_argv, commandline.USAGE)
        return 0
    # TODO: include KeyboardInterrupt in the template version of this file.
    except UsageError as err:
        s = """\
Command-line usage error: %s

Pass -h or --help for help documentation and available options.""" % err
        _log.error(s)

        return 2
    except Error, err:
        _log.error(err)
        return 1


